.footer-wrap {
  border-top: 1px solid #dedede;
  background: $color-light;
  width: 100%;
  padding: 30px 0;
  z-index: 0;

  p {
    font-size: 12px;
    margin-bottom: 0;

    @include media(md) {
      font-size: 13px;
      line-height: 32px;
    }
  }

  a {
    color: #777676;
  }
}
