// Colors
$color-light: #ffffff;
$color-default: #3f96f6;
$color-dark: #000;


$border-radius: 15px;

// Media querie
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px) !default;

@mixin media($width, $type: min, $dimension: width) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
  }

  @if $type==max {
    $width: $width - 1px;
  }

  @media only screen and (#{$type}-#{$dimension}: $width) {
    @content;
  }
}

%box-shadow {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25);
}

%flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

%absolute-frame {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}

%transition {
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

%font-default {
  font-family: 'Open Sans', sans-serif;
}